<div class="embed-responsive embed-responsive-16by9">
	<div></div>
</div>

<div class="loop-controls" ng:if="post.loop">
	<div class="percent" style="width: {{((post.player.B.currentTime-post.start_time)/post.loop_duration)*100}}%;"></div>
</div>